<html>
  <head>
    <title>Add your tasks</title>
  </head>
  <body>

    <form method=post>
      <input type="text" name="todo"/>
      <input type="submit"/>
    </form>
    <% if(user.todos) { %>
    <% user.todos.forEach(function(todo){ %>
      <%= todo %>

    <% }) %>
    <% } %>
  </body>
</html>
