#container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #e74c3c;
  height: 30px;
  padding: 10px;
  margin:auto;
  text-align: center;
  width: 200px;
  border-radius: 3px;
  color: white;
  border-bottom: 2px solid #c0392b;
  font-family: 'PT Sans', sans-serif;
}

body{
  font-family: 'PT Sans', sans-serif;
}

.message{
  font-size: 20pt;
}

.message{
  text-align: center;
  margin: 20px auto;
  margin-top: 4vw;

}
