#container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gbutton{
  display: block;
  text-decoration: none;
  background: #e74c3c;
  height: 30px;
  padding: 10px;
  margin:auto;
  text-align: center;
  width: 200px;
  border-radius: 3px;
  color: white;
  border-bottom: 2px solid #c0392b;
}
